<div class="navbody">
<header>
  <div class="nav">
    <ul>
      <li class="home">Dokument ändern</li>
    </ul>
  </div>
</header>
</div>

<%= render 'form', dokument: @dokument %>

<%= link_to 'Show', @dokument %> |
<%= link_to 'Back', dokuments_path %>
