/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


/*#region horizontal navigation bar*/

 .navbody {
    margin: 0;
    padding: 0;
  }
   
  .nav ul {
    list-style: none;
    background-color: #e4e4e4;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .nav li {
		font-family: "Lato", sans-serif;
    font-size: 1.2em;
    line-height: 50px;
    height: 50px;
  }
   
  .nav a {
    text-decoration: none;
    font-weight: bold;
    color: #777;
    display: block;
    transition: .3s background-color;
  }
   
  .nav a:hover {
    background-color: #b9b8b8;
  }
   
  .nav a.active {
    cursor: default;
  }
   
  @media screen and (min-width: 600px) {
    .nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }
   
    /* Display Inline */
    .nav li {
      display: inline-block;
      margin-right: -4px;
    }
  }

/*#endregion*/

/*#region fahrzeuge*/

.filter {
  float: right;
}

/*#endregion*/

/*#region sort arrows*/

table { 
	background: #FFF;
	border-collapse: collapse;
	width: 100%;  
}
td,
th { 
	padding: 4px; 
	border: 1px solid #CCC;
	overflow: hidden;
	text-align: left;
	vertical-align: middle;
}
th { 
	background-color: #DDD; 
	font-weight: 400;
}
th a,
td a { 
	display: block;
	width: 100%;
}
th a.sort-by { 
	padding-right: 18px;
	position: relative;
}
a.sort-by:before,
a.sort-by:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}
a.sort-by:before {
	border-bottom-color: #666;
	margin-top: -9px;
}
a.sort-by:after {
	border-top-color: #666;
	margin-top: 1px;
}

/*#endregion*/